<div class="container-fluid">
    <div class="row">
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2>Forms: Registration Form</h2>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#/fields">Fields</a></li>
            </ul>
            <div class="table table-responsive table-bordered">
            <div class="container-fluid field-container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <br>
                        <div>First Name:</div>
                        <input type="text" class="form-control" id="Inputusername" placeholder="First Name">
                    </div><br>
                    <div class="col-xs-6 col-sm-6 col-md-6 align-button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default outline" aria-label="Left Align" data-toggle="modal" data-target="#myModalHorizontal">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default outline" aria-label="Left Align Align">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default outline" aria-label="Left Align">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default outline" aria-label="Left Align">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div>Last Name:</div>
                        <input type="text" class="form-control" id="inputlastname" placeholder="Last Name"></div>
                        <div class="col-xs-6 col-sm-6 col-md-6 align-button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default outline" aria-label="Left Align" data-toggle="modal" data-target="#myModalHorizontal">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default outline" aria-label="Left Align Align">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default outline" aria-label="Left Align">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default outline" aria-label="Left Align">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            </button>
                        </div>
                        </div>
                </div><br>

                <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Field Properties
                                </h4>
                            </div>

                            <!-- Modal Body -->
                            <div class="modal-body">

                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputlabel">Label</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputlabel" placeholder="Label"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputplaceholder">Placeholder</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputplaceholder" placeholder="Label"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputtooltip">Tooltip</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputtooltip" placeholder="Tooltip"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputtype" >Type</label>
                                        <div class="col-sm-10">
                                            <select id="inputtype" class="form-control">
                                                <option value="SingleLineText">Single Line Text</option>
                                                <option value="Datefield">Date</option>
                                                <option value="DropDownField">Drop Down</option>
                                                <option value="CheckboxesField">Checkboxes</option>
                                                <option value="RadioButtonsfield">Radio Buttons</option>
                                                <option value="ParagraphTextfield">Paragraph Text Field</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputtooltip">Options</label>
                                        <div class="col-sm-10">
                                            <select id="leftValues" class="form-control" size="5" multiple>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                                <option>Option 3</option></select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">
                                    Ok
                                </button>
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div>Date Of Birth:</div>
                        <input type="date" class="form-control" id="datepicker" placeholder="Select Date"></div>
                    <div class="col-xs-6 col-sm-6 col-md-6 align-button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default outline" aria-label="Left Align" data-toggle="modal" data-target="#myModalHorizontal">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default outline" aria-label="Left Align Align">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default outline" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default outline" aria-label="Left Align">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </button>
                        </div>
                    </div>
                    </div>
                    <br>

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div>Gender:</div>
                        <select id="inputgender" class="form-control">
                            <option value="Male">Male</option>
                            <option value="Male">Female</option>
                        </select></div>
                    <div class="col-xs-6 col-sm-6 col-md-6 align-button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default outline" aria-label="Left Align" data-toggle="modal" data-target="#myModalHorizontal">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default outline" aria-label="Left Align Align">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default outline" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default outline" aria-label="Left Align">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </button>
                    </div></div>
                </div>
                <!--Checkbox for roles-->
                <br>

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div>Roles:</div>
                        <div class="checkbox">
                        <label><input type="checkbox" id="inputroles1" value="Admin">Admin</label></div>
                        <div class="checkbox">
                        <label><input type="checkbox" id="inputroles2" value="Student">Student</label></div>
                        <div class="checkbox">
                        <label><input type="checkbox" id="inputroles3" value="User">User</label></div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 align-button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default outline" aria-label="Left Align" data-toggle="modal" data-target="#myModalHorizontal">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default outline" aria-label="Left Align Align">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default outline" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default outline" aria-label="Left Align">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </button>
                    </div></div><br>
                </div>

                <!--Checkbox for license agreement-->
                <br>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        License Agreement:<br>
                    <div class="radio">
                        <label><input name="licagreement" type="radio" id="inputlic1" value="Yes">Yes</label>
                    </div>
                        <div class="radio">
                            <label><input name="licagreement" type="radio" id="inputlic2" value="No">No</label></div></div>
                    <div class="col-xs-6 col-sm-6 col-md-6 align-button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default outline" aria-label="Left Align" data-toggle="modal" data-target="#myModalHorizontal">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default outline" aria-label="Left Align Align">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default outline" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default outline" aria-label="Left Align">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </button></div></div>
                    <br>
                    </div>
                <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>

                <!-- field selection-->
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                <div>Add New Field:</div>
                <select id="inputaddnewfield" class="form-control">
                    <option value="SingleLineText">Single Line Text</option>
                    <option value="Datefield">Date</option>
                    <option value="DropDownField">Drop Down</option>
                    <option value="CheckboxesField">Checkboxes</option>
                    <option value="RadioButtonsfield">Radio Buttons</option>
                    <option value="ParagraphTextfield">Paragraph Text Field</option>
                </select></div>
                <div class="col-xs-6 col-sm-6 col-md-6 align-button">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default outline" aria-label="Left Align Align">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </div></div></div>
            <br>
            </div></div>

        </div>
</div></div>