<div class="container-fluid">
    <div class="row">
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2>Forms: Registration Form</h2>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#/fields">Fields</a></li>
            </ul>
            <div class="table table-responsive table-bordered">
                    <div class="container-fluid field-container">
                        <div>
                            <!--<form sort-fields field-axis="y">-->
                            <form ng-model="model.fields" ui-sortable="sortableFields">
                            <div ng-repeat="field in model.fields" class="row form-group">
                                <br />
                                <div ng-switch="field.type">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div>{{field.label}}: </div>
                                        <!-- Single line text -->
                                        <div ng-switch-when="TEXT" class="top-padding">
                                            <input type="text" class="form-control" placeholder="{{field.placeholder}}" />
                                        </div>
                                        <!-- Multi line text -->
                                        <div ng-switch-when="TEXTAREA" class="top-padding">
                                            <textarea class="form-control" rows="4" placeholder="{{field.placeholder}}"></textarea>
                                        </div>
                                        <!-- Date -->
                                        <div ng-switch-when="DATE" class="top-padding">
                                            <input type="date" class="form-control" placeholder="{{field.placeholder}}" />
                                        </div>
                                        <!-- Options -->
                                        <div ng-switch-when="OPTIONS" class="top-padding">
                                            <select ng-model="userOption" class="form-control"
                                                    ng-options="opt.value as opt.label for opt in {{field.options}}">
                                            </select>
                                        </div>
                                        <!-- Checkboxes -->
                                        <div ng-switch-when="CHECKBOXES" class="top-padding">
                                            <div class="checkbox" ng-repeat="opt in field.options">
                                                <label>
                                                    <input type="checkbox" class="checkbox" ng-value="opt.value" placeholder="{{field.placeholder}}" />
                                                    {{opt.label}}
                                                </label>
                                            </div>
                                        </div>
                                        <!-- Radios -->
                                        <div ng-switch-when="RADIOS" class="top-padding">
                                            <div class="radio" ng-repeat="opt in field.options">
                                                <label>
                                                    <input type="radio" name="{{field.placeholder}}" ng-value="opt.value" placeholder="{{field.placeholder}}" />
                                                    {{opt.label}}
                                                </label>
                                            </div>
                                        </div>
                                        <!-- Email -->
                                        <div ng-switch-when="EMAIL" class="top-padding">
                                            <input type="email" class="form-control" placeholder="{{field.placeholder}}" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 control-edit-options">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default outline"
                                                    aria-label="Edit Field" ng-click="model.editField($index)">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-default outline" aria-label="Clone Field">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-default outline"
                                                    aria-label="Remove Field" ng-click="model.deleteField(field)">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-default outline" aria-label="Reorder Field">
                                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="divider"></div>
                            </div>
                        </div>
                        <br />
                        <div class="row form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div>Add New Field: </div>
                                <div class="top-padding">
                                    <select ng-model="model.fieldType" class="form-control">
                                        <option value="TEXT">Single Line Text</option>
                                        <option value="DATE">Date</option>
                                        <option value="OPTIONS">Dropdown</option>
                                        <option value="CHECKBOXES">Checkboxes</option>
                                        <option value="RADIOS">Radio buttons</option>
                                        <option value="TEXTAREA">Paragraph Text Field</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 control-edit-options">
                                <div class="btn-group" role="group">
                                    <button ng-click="model.addField(model.fieldType)" type="button" class="btn btn-default outline"
                                            aria-label="Clone Field">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br />

                    </div>
</div></div></div>
    <script type="text/ng-template" id="EditFieldModal.html">

        <div class="modal-header" ng-switch on="field.type">

            <h3 class="modal-title" ng-switch-default>
                Single Line Field
            </h3>

            <h3 class="modal-title" ng-switch-when="TEXTAREA">
                Multiple Lines Field
            </h3>

            <h3 class="modal-title" ng-switch-when="DATE">
                Date Field
            </h3>

            <h3 class="modal-title" ng-switch-when="OPTIONS">
                Dropdown Field
            </h3>

            <h3 class="modal-title"  ng-switch-when="CHECKBOXES">
                Checkbox Field
            </h3>

            <h3 class="modal-title" ng-switch-when="RADIOS">
                Radio Button Field
            </h3>
        </div>
        <form class="modal-body form" ng-switch on="field.type">
            <div class="row" ng-switch-when="TEXT">
                <div class="form-group col-md-12">
                    <label for="labelForField">Label</label>
                    <input type="text" id="labelForField" class="form-control" ng-model="$parent.newLabel">
                </div>
                <div class="form-group col-md-12">
                    <label for="placeholderForField">Placeholder</label>
                    <input type="text" id="placeholderForField" class="form-control" ng-model="$parent.newPlaceholder">
                </div>
            </div>
            <div class="row" ng-switch-when="DATE">
                <div class="form-group col-md-12">
                    <label for="labelForField">Label</label>
                    <input type="text" id="labelForField" class="form-control" ng-model="$parent.newLabel">
                </div>
            </div>
            <div class="row" ng-switch-when="TEXTAREA">
                <div class="form-group col-md-12">
                    <label for="labelForField">Label</label>
                    <input type="text" id="labelForField" class="form-control" ng-model="$parent.newLabel">
                </div>
                <div class="form-group col-md-12">
                    <label for="placeholderForField">Placeholder</label>
                    <textarea type="text" id="placeholderForField" class="form-control"
                              ng-model="$parent.newPlaceholder" rows="3">
                    </textarea>
                </div>
            </div>
            <div class="row" ng-switch-default>
                <div class="form-group col-md-12">
                    <label for="labelForField">Label</label>
                    <input type="text" id="labelForField" class="form-control" ng-model="$parent.newLabel">
                </div>
                <div class="form-group col-md-12">
                    <label for="optionsForField">Options</label>
                    <textarea name="" id="optionsForField" rows="3" class="form-control"
                              ng-model="$parent.newPlaceholder">
                    </textarea>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>