<div class="container-fluid">
    <div controller="RegisterController" class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Register</h1>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-2 control-label">Username:</label>
                    <div class="col-sm-10">
                        <input ng-model="model.user.username" type="text" class="form-control" id="inputUsername" placeholder="Username" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password:</label>
                    <div class="col-sm-10">
                        <input ng-model="model.user.password" type="password" class="form-control" id="inputPassword3" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputverifypassword" class="col-sm-2 control-label">Verify Password:</label>
                    <div class="col-sm-10">
                        <input ng-model="model.user.verifypassword" type="password" class="form-control" id="inputverifypassword" placeholder="Verify Password" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                        <input ng-model="model.user.email" type="email" class="form-control" id="inputEmail3" placeholder="Email" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="model.register(model.user)" type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form>
            <div ng-show="SuccessAlert" class="alert alert-success" role="alert">
                <strong>Sucessfully created user!!</strong>
            </div>
        </div>
</div></div>